$layout-breakpoint-mobile: 600px;
$layout-breakpoint-tablet-min:786px;
$layout-breakpoint-tablet-max:1024px;


.employees-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 50px;
  padding: 30px;

  .employee-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: 2px solid black;
    overflow: hidden;

    a {
      text-align: center;
      text-decoration: none;
    }
    &:hover {
      img {
        transform: scale(1.1);
        transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    }

    img {
      width: 50%;
    }
    .emp-name {
      color: #1d2e8c;
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 0;
    }
    .emp-office,
    .emp-role {
      color: black;
      font-size: 17px;
      font-weight: 800;
      margin-top: 0;
    }
    .emp-role {
      margin-bottom: 0;
    }
  }

  &.grid-rows-layout{
    flex-direction: column;
    .employee-item{
      width: 80%;
      display: unset;
      margin: 0 auto;
      a{
        display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;

      }
    }
  }
}





@media (max-width: $layout-breakpoint-mobile) {
  .employees-list-wrapper{
    .employee-item{
      width: 100% ;
    }
  }
  
  
}


@media only screen 
  and (min-device-width: $layout-breakpoint-tablet-min) 
  and (max-device-width: $layout-breakpoint-tablet-max) 
  and (-webkit-min-device-pixel-ratio: 2){
    .employees-list-wrapper{
      gap: 30px;
    }
  }